force-app/main/default/flows/Prompt_Get_Open_cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Case_Details_to_Prompt_Template</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Case Details to Prompt Template</label>
        <locationX>156</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Case details: 
Case Subject : {!Get_each_case.Subject} , Case Description : {!Get_each_case.Description} ,
Case Created date :{!Get_each_case.CreatedDate} ,
Case Status :{!Get_each_case.Owner:User.Name} , Case status : {!Get_each_case.Status}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_each_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Note_About_No_Open_Cases</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Note About No Open Cases</label>
        <locationX>284</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>There are no open cases.
</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Any_Cases</name>
        <label>Any Cases?</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Add_Note_About_No_Open_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_open_cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_each_case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prompt - Get Open cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prompt - Get Open cases</label>
    <loops>
        <name>Get_each_case</name>
        <label>Get each case</label>
        <locationX>68</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_open_cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Case_Details_to_Prompt_Template</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>Get_open_cases</name>
        <label>Get open cases</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Input.RelatedEntity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <capabilityTypes>
            <name>PromptTemplateType://einstein_gpt__fieldCompletion</name>
            <capabilityName>PromptTemplateType://einstein_gpt__fieldCompletion</capabilityName>
            <inputs>
                <name>RelatedEntity</name>
                <capabilityInputName>RelatedEntity</capabilityInputName>
                <dataType>SOBJECT://Account</dataType>
                <isCollection>false</isCollection>
            </inputs>
        </capabilityTypes>
        <connector>
            <targetReference>Get_open_cases</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OpenCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>OpenCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
